*{
  overflow: hidden;
}
body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background: rgba(1, 13, 35, 1);
  color: white;
}
#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('https://i.pinimg.com/originals/79/82/a3/7982a35558b9c49bc2e2d169b2ac043b.gif');
  filter: blur(5px);
  z-index: -1;
}
/*Downloader de Musicas*/
.Downloader{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: #03223F;
    padding: 30px;
    border-radius: 0 15px 15px 15px;
    z-index: 3;
}
.toggle-downloader-btn{
    background: transparent;
    border: none;
    color:white;
    position: absolute;
    left: 15px;
    top: 15px;
    width: 40px;
    height: 40px;
    z-index: 4;
    cursor: pointer;
}
.Barra_de_Link{
    padding: 10px;
    border-radius: 60px 0 0 60px;
    border: none;
    background: #053a6b;
    color: #e2e2e2;
}
.Botão_Download{
    padding: 10px;
    border-radius: 0 60px 60px 0;
    background-color: #e19f41;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.Botão_Download:hover{
    background-color: #FCCB6F;
    color: black;
}
/*Biblioteca de Musicas*/
.library-container{
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(3, 34, 63, 0.7);
    box-shadow: #03223F 0px 0px 20px 5px;
    padding: 20px;
    width: 30%;
    height: 96%;
    border-radius: 15px 0 0 15px;
    z-index: 999;
}
.song-grid{
    overflow-y: auto;
    height: 89%;
}
.song-card{
    border: 0px solid white;
    display: flex;
    margin-top: 30px;
    margin-right: 70px;
    margin-left: 30px;
    transition: all 0.2s ease-in-out;
    border-radius: 15px;
}
.song-card:hover{
    transform: scale(1.1);
    border: 3px solid white;
    border-radius: 15px;
    cursor: pointer;
}
.Capa-song{
    width: 10rem;
    height: 10rem;
    border-radius: 15px;
    object-fit: cover;
    margin-right: 30px;
}
.Song-title{
    width: 18rem;
    font-size: 1.3rem;
}
.Song-Artista{
    width: 18rem;
}
/*Player de Musicas*/
.playerContainer{
    width: 70%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 2;
}

.visualizer-overlay {
  max-width: 50vw;   /* Não ultrapassa a largura da tela */
  max-height: 90vh;  /* Não ultrapassa a altura da tela */
  width: auto;
  height: auto;
  aspect-ratio: 1 / 1; /* Garante que permaneça um círculo/quadrado */
  cursor: pointer;
}
.capa-wrapper{
   width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.info{
    z-index: 2;
}
.playButton{
    display: none;
}
.navButton.back{
    position: absolute;
    left: 14rem;
    top: 25rem;
    border: none;
    background-color: #91662aff;
    padding: 1.3rem;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    z-index: 4;
    box-shadow: #91662aff 0px 0px 0px 0px;
    transition: all 0.3s ease-in-out;
}
.bi-skip-backward-fill{
    fill: black;
    transition: all 0.3s ease-in-out;
}
.navButton.back:hover .bi-skip-backward-fill,
.navButton.forw:hover .bi-skip-forward-fill{
    fill: white;
}
.bi-skip-forward-fill{
    fill: black;
    transition: all 0.3s ease-in-out;
}
.navButton.back:hover {
    background-color: #e19f41;
    box-shadow: #e19f41 0px 0px 5px 7px;
}
.navButton.forw:hover {
    background-color: #e19f41;
    box-shadow: #e19f41 0px 0px 5px 7px;
}
.navButton.forw{
    position: absolute;
    right: 12rem;
    top: 25rem;
    border: none;
    background-color: #91662aff;
    padding: 1.3rem;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    z-index: 4;
    box-shadow: #91662aff 0px 0px 0px 0px;
    transition: all 0.3s ease-in-out;
}
.progressArea{
    width: 85rem;
    margin-top: 1.3rem;
    z-index: 2;
    position: absolute;
    bottom: 3rem;
    margin-left: 12%;
}
.progressBar{
    all:unset; /* limpa os estilos iniciais */
     border: none;
    display: inline-block;
    height: 0.7rem;
    width: 50rem;
    border-radius: 1rem;
    cursor: pointer;
    margin: 1rem;
    z-index: 2;
}
.progressBar::-webkit-slider-thumb{
    -webkit-appearance: none;
  appearance: none; 
  height: 1.2rem;
  width: 1.2rem;
  background-color: #FCCB6F;
  border-radius: 50%;
  border: none;
  transition: .2s ease-in-out;
}
.title{
    position: absolute;
    top: 0rem;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1.3rem;
}
.Cantor{
    position: absolute;
    top: 3rem;
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    margin-top: 1.3rem;
    color: #CCCCCC;
}
#Aleatorio{
    position: absolute;
    bottom: 5rem;
    left: 0rem;
    background: transparent;
    border: none;
    margin-left: 1.3rem;
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    transition: all 0.3s ease-in-out;
}
#Aleatorio:hover .bi-shuffle{
    background-color: #e19f41;
    box-shadow: #e19f41 0px 0px 5px 7px;
}
#Repetir{
    position: absolute;
    bottom: 5rem;
    left: 5rem;
    background: transparent;
    border: none;
    margin-left: 1.3rem;
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    transition: all 0.3s ease-in-out;
}
.bi-repeat{
    background-color: #91662aff;
    padding: 0.6rem;
    border-radius: 50%;
    border: none;
    width: 2rem;
    height: 2rem;
    fill: black;
    transition: all 0.3s ease-in-out;
}
#Repetir:hover .bi-repeat{
    background-color: #e19f41;
    box-shadow: #e19f41 0px 0px 5px 7px;
}
.volumeControl{
    position: absolute;
    right: 3rem;
    bottom: 7rem;
    display: flex;
    align-items: center;
    z-index: 2;
}
.bi-shuffle{
    background-color: #91662aff;
    padding: 0.6rem;
    border-radius: 50%;
    border: none;
    width: 2rem;
    height: 2rem;
    fill: black;
    transition: all 0.3s ease-in-out;
}
#Aleatorio.active .bi-shuffle{
    background-color: #e19f41;
    fill:white;
}
#Repetir.active .bi-repeat{
    background-color: #e19f41;
    fill:white;
}
.bi-volume{
    fill: #e19f41;
}
.bi-volume.down{
    fill: #91662aff;
}
.volumeBar{
    all:unset; /* limpa os estilos iniciais */
     border: none;
    display: inline-block;
    height: 0.55rem;
    width: 75%;
    border-radius: 1rem;
    cursor: pointer;
    margin: 1rem;
    z-index: 2;
}
.volumeBar::-webkit-slider-thumb{
    -webkit-appearance: none;
  appearance: none; 
  height: 1rem;
  width: 1rem;
  background-color: #FCCB6F;
  border-radius: 50%;
  border: none;
  transition: .2s ease-in-out;
}
.volumeControl{
    width: 13rem;
}